# MkDocs build
site/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Source code (local only for doc updates)
EC-Zephyr/
IT557x_ADL_N_MRD-ec-v0.21-220914/

# Sensitive
.claude/
.sisyphus/
